.main-foto {
    background-image: url(pictures/catalog-main-foto.jpg);
    height: 261px;
    background-size: cover;
    margin-bottom: 80px;
}
.main-foto_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 102px;
    gap: 20px;
}
h1 {
    font-family: 'Cormorant Garamond';
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 3%;
    color: white;
}
.main-foto_text {
    color: white;
    font-size: 38px;
    font: 'Cormorant Garamond';
    font-weight: 400;
    font-style: italic;
}

.big-container {
    display: flex;
    width: 100%;
    gap: 50px;
}

.jewelry {
    display: flex;
    flex-direction: column;
    gap: 44px;
}
.pictures {
    display: flex;
    gap: 30px;
}
.pictures_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.jewelry_foto {
    width: 270px;
    height: 272px;
}
.jewelry_text {
    font-family: 'Poppins';
    font-weight: 500;
}
.jewelry_price {
    font-family: 'Poppins';
    font-weight: 700;
}
.lower-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.numbering {
    letter-spacing: 15px;
}
.main-filter-tablet-phone {
    display: none;
}
.header_top-tablet {
    display: none;
}
.filter-tablet-phone {
    display: none;
}
.lower-container-phone {
    display: none;
}
.jewelry-phone {
     display: none;
}

@media (max-width: 768px) {
    .main-foto {
        background-image: url(pictures/main-catalog-tablet.jpg);
    }
    h1 {
        font-weight: 700;
        font-size: 34px;
    }
    .header {
        display: none;
    }
    .main-foto_text {
        font-weight: 500;
        font-size: 22px;
    }
    .main-filter {
        display: none;
    }
    .header_top-tablet {
        display: flex;
    }
    
    .big-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 50px;
    }
    .jewelry_foto {
        width: 206px;
        height: 208px;
    }
    .jewelry {
        padding: 30px;
    }
    .filter-tablet-phone {
        display: flex;
        border: none;
        width: 678px;
        height: 68px;
        background-color: #A87B62;
    }
    .lower-container-phone {
        display: none;
    }
    .jewelry-phone {
        display: none;
    }
    
}

@media (max-width: 320px) {
    .main-filter {
        display: none;
    }
   .jewelry {
        display: none;
    }
    .lower-container-phone {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
    }
    .numbering-phone {
        letter-spacing: 15px;
    }
    .jewelry-phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .jewelry_foto {
        width: 130px;
        height: 136px;
    }
    .jewelry_text {
        font-size: 14px;
    }
    .jewelry_price {
        font-size: 14px;
    }

}
