.footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #292933;
    color: #fff;
    font-size: 14px;
    height: 280px;
    width: 100%;
    gap: 100px;
    padding: 50px;
    background-image: url('icon/bg-leaves.svg');
    background-repeat: no-repeat;     
    background-position: 300px 100px;     
    background-size: 60%;
    margin-top: 60px;
    line-height: 30px;
}
.dicentra-ua {
    width: 200px;
}
.footer_title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 30px;

}.footer_text {
    font-size: 14px;
    line-height: 20px;
}
.footer_news {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 30px;
}
.email-line {
    padding: 12px;
    border-radius: 50px;
}
.footer_icon {
    display: flex;
    gap: 30px;
    padding-top: 30px;
}
.icon-size {
    width: 50px;
    height: 50px;
}