.header {
    height: 204px;
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
}
/* Найменша лінія зверху */
.header_top {
    font-size: 14px;
    background: #292933;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}
.link-menu-top {
    color: #fff;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #A48B80; 
}
.color-acсent-menu {
    color: #A48B80;
}
/* Середня лінія */

.header_middle {
    color: #292933;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 250px;
    background: white;
    height: 50%;
}
.header_main-menu{
    display: flex;
    align-items: center;
    gap: 12px; 
}
.icon-img{
    width: 20px;
    height: 20px;
}
.icon-arrow {
    width: 8px;
    height: 5px;
}
.icon-logo {
    width: 80px;
    height: 60px;
}
.icon-basket {
    width: 60px;
    height: 40px;
}

.logo-text-top {
    font-size: 32px;
    letter-spacing: 6px;
}
.logo-text-bottom {
    font-size: 10px;
    letter-spacing: 7px;
}

/* нижня лінія*/
.header_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    height: 30%;
    gap: 90px;
}
.header_menu-bottom {
  display: flex;
  gap: 90px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.header_bottom li {
    text-transform: uppercase;
    list-style: none;
    color: #292933;
    font-weight: 700;
}