.main {
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.order {
    height: 400px;
    flex:1;
    background: #365150;
    padding: 100px 0 0 120px;
}
.order h1 {
    color: #fff;
    font-size: 35px;
    font-weight: 800;
}
.order button {
    padding: 14px 38px 14px 38px;
    margin-left: 0px;
    margin-top: 60px;
    background-color: #B69B89;
    border-radius: 20px;
    border: none;
    color: #fff;
}
.poster {
    flex:2;
}
.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}