
.content {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    color: #292933 ;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}
h2 {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}
h3 {
    font-size: 16px;
    font-weight: 100;
    line-height: 10px;
    color: #646468;
}
h4 {
    font-size: 14px;
    color: #292933;
    font-weight: 200;
    margin: 0;
}
h5 {
    font-size: 12px;
    color: #38a35c;
    font-weight: 200;
    margin: 0;
}
h6 {
    font-size: 10px;
    font-weight: 100;
    color: #646468;
    margin: 0;
}
p {
    font-size: 16px;
}

.footer {
    height: 280px;
    width: 100%;
    background-color: #292933;
    display: block;
}