.content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}


.footer {
    height: 280px;
    width: 100%;
    background-color: #292933;
    display: block;
}