.main-foto {
    background-image: url(../pictures/catalog-main-foto.jpg);
    height: 261px;
    background-size: cover;
    margin-bottom: 80px;
}
.main-foto_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 102px;
    gap: 20px;
}
h1 {
    font-family: 'Cormorant Garamond';
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 3%;
    color: white;
}
.main-foto_text {
    color: white;
    font-size: 38px;
    font: 'Cormorant Garamond';
    font-weight: 400;
    font-style: italic;
}

.big-container {
    display: flex;
    width: 100%;
    gap: 50px;
}
.main-filter {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 250px;
    margin-left: 40px;
}
.filter {
    display: flex;
    flex-direction: column;
}
.filter_top {
    display: flex;
    flex-direction: column;
    width: 250px;
}
.product {
    display: flex;
    flex-direction: column;
    border: 1px solid  #A87B62;
    gap: 30px;
    padding: 28px;
}
.product_top {
    display: flex;
    justify-content: space-between;
    
}
.product_bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 10px;
}
.material {
    display: flex;
    justify-content: space-between;
    padding: 28px;
    border: 1px solid  #A87B62;
}
.collection {
    display: flex;
    justify-content: space-between;
    padding: 28px;
    border: 1px solid  #A87B62;
}
.price {
    display: flex;
    flex-direction: column;
    padding: 28px;
    border: 1px solid  #A87B62;
    gap: 24px;
}
.price_text {
    display: flex;
    justify-content: space-between;
}
.price_point {
    display: flex;
    justify-content: center;
    align-items: center;
}
.longline {
    position: relative;
    width: 200px;
    height: 1px;
    background: #F0EAE4;
}
.shortline {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
    height: 1px;
    background: #A87B62;
    margin-left: 45px;
}
.circl {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: #A87B62;
}
.price_number {
    display: flex;
    justify-content: space-evenly;
}
.buttons {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-top: 35px;
    gap: 35px;
}
.filter_button-apply {
    background-color: #A87B62;
    border: none;
    padding: 28px;
}
.filter_button-clear-all {
    border: 1px solid #A87B62;
    background-color: white;
    padding: 28px;
}

.jewelry {
    display: flex;
    flex-direction: column;
    gap: 44px;
}
.pictures {
    display: flex;
    gap: 30px;
}
.pictures_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.jewelry_foto {
    width: 270px;
    height: 272px;
}
.jewelry_text {
    font-family: 'Poppins';
    font-weight: 500;
}
.jewelry_price {
    font-family: 'Poppins';
    font-weight: 700;
}