.footer {
    width: 100%;
    height: 338px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;
    margin-top: 130px;
    color: white;
}
.footer_first-blok {
    display: flex;
    flex-direction: column;
    gap: 52px;
}
.footer_title {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer-subscribe {
    display: flex;
    justify-content: space-between;
}
.footer_input {
    background-color: #000000;
    color: white;
    border: none;
}
.footer_blok {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer_vector {
    display: flex;
    gap: 15px;
}