.header {
    display: flex;
    flex-direction: column;
}
.header_top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 115px;
}
.header_input {
    border: none;
}
.header_text {
    display: flex;
    font-size: 14px;
    gap: 35px;
}
.header_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 34px;
    padding-bottom: 19px;
}