
.main-foto {
    background-image: url(pictures/main-foto.jpg);
    height: 463px;
    background-size: cover;
}
.main-foto_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 195px;
    gap: 20px;
}
h1 {
    font-family: 'Cormorant Garamond';
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 3%;
    color: white;
}
.main-foto_text {
    color: white;
    font-size: 38px;
    font: 'Cormorant Garamond';
    font-weight: 400;
    font-style: italic;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 130px;
}
.new-items {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.new-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 130px;
}
.new-items_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}
.new-items_shop-now {
    display: flex;
    justify-content: center;
}
.new-pictures {
    display: flex;
    gap: 30px;
}
.new-pictures_foto {
    width: 270px;
    height: 284px;
}
.new-items_jewelry {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.new-items_numbers {
    display: flex;
    justify-content: center;
    letter-spacing: 15px;
}

.blog {
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.blog_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}
.blog_content {
    display: flex;
    gap: 30px;
}
.blog_left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.blog-left_foto {
    width: 285px;
    height: 300px;
}
.left-publication {
    display: flex;
}
.publication-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 285px;
    height: 300px;
    background-color: #f0eae4;
    gap: 25px;
}
.blog_right {
    background-image: url('pictures/alve-odonnell.jpg');
    width: 570px;
    height: 630px;
    display: flex;
    align-items: end;
    justify-content: end;
}
.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 970px;
}
.questions_blocks {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}
.questions_text {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    padding: 50px;
    border-width: 1px;
    border-color: #A87B62;
    gap: 20px;
    width: 970px;
}
h5 {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins';
    padding-bottom: 20px;
}

.chjewellery {
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.chjewellery_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}
.chjewellery_examples {
    display: flex;
    gap: 27px;
}
.examples-blok {
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.examples_type-one {
    width: 230px;
    height: 230px;
}
.examples_type-two {
    width: 230px;
    height: 150px;
}
.examples_type-three {
    width: 399px;
    height: 412px;
}