body {
    margin: 0 auto;
    font-size: 16px;
    width: 1366px;
    font-style: 'Poppins';
}
h2 {
    font-size: 34px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 22px;
}
.light-text {
    color: #9b9997;
    font-size: 14px;
    font-weight: 500;
}
.text-bold {
    font-weight: 500;
    padding-top: 25px;
}

