body {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    background-color: antiquewhite;
}
header {
    color: darkmagenta;
    font-size: 20px;
}
.boxone {
    color: blueviolet;
    display: block; 
}
.boxtwo {
    color: olive;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.boxthree {
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 20px;
}
.boxfour {
    color: darkgreen;
    display: inline-block;
    width: 100px;
    margin: 10px;
}
.boxfive {
    box-sizing: content-box;
    width: 100px;
    padding: 10px;
    border: 5px solid black;
}